@model UserProfile

<form asp-action="Index" enctype="multipart/form-data">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row py-1">
        <input asp-for="Name" placeholder="Product Name..." class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="row py-1">
        <input asp-for="Image" placeholder="name" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <button type="submit" class="btn btn-success form-control">Create</button>
        </div>
    </div>
</div>
</form>